<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/main.css" type="text/css"></link>
  <link rel="stylesheet" href="../styles/modal.css" type="text/css"></link>
  <link rel="stylesheet" href="../styles/modal-update.css" type="text/css"></link>
  <link rel="stylesheet" href="../styles/switch.css" type="text/css"></link>
</head>
<body>
  <!--device list template-->
  <template>
    <div  class="device-item">
      <div class="device-item-name"></div>
      <div class="device-item-status">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </template>
  <!--device list template-->
  <template>
    <div class="attribute-item">
      <div class="attribute-item-input">
        <input class="attribute-item-name" placeholder="name" required>
        <input class="attribute-item-value" placeholder="value" required>
      </div>
      <div class="remove-attribute-action">
        <img class="remove-attribute" src="../img/clear-white.svg">  
      </div>
    </div>
  </template>
  <div id="application-title">
    FakeEmitter
  </div>
  <div class="bt-open-modal-container">
    <div id="bt-open-add-modal" class="bt-open-modal">
      <img class="add-icon" src="../img/add-white.svg">
    </div>
  </div>
  <div id="devices-list">
  </div>
  <div id="modal-add-device" class="modal">
    <div class="modal-content">
      <div class="modal-title">New Device</div>

        <div class="input-container">
          <label class="input-label">TAG: </label>
          <input type="text" id="new-device-tag" class="model-input">
        </div>

      <div class="buttons-form-container">
        <button class="bt-add-device" id="bt-confirm-add-device">
          <img class="button-icon" src="../img/save-white.svg">
        </button>
        <button class="bt-cancel-device" id="bt-cancel-add-device">
          <img class="button-icon" src="../img/clear-white.svg">
        </button>
      </div>
    </div>
  </div>
  <div id="modal-device" class="modal-update">
    <div class="modal-dialog">
      <div  class="modal-content-update"> 
        <div class="modal-title">Edit Device</div>
        <div class="input-container">
          <label class="input-label">TAG </label>
          <input class="model-input" id="modal-device-tag">
        </div>
        <div class="attributes-title-container">
          <label class="input-label">Attributes </label>
          <div class="bt-modal-add-attribute" id="modal-add-attribute">
            <img class="add-attribute" src="../img/add-white.svg">
          </div>
        </div>
        <div id="modal-device-attributes">
        </div>
        <div class="buttons-form-update-container">
          <button id="bt-modal-confirm-update-device" type="submit">
            <img class="modal-button-icon" src="../img/save-white.svg">
          </button>
          <button id="bt-modal-cancel-update-device">
            <img class="modal-button-icon" src="../img/clear-white.svg">
          </button>
          <button id="bt-modal-delete-device">
            <img class="modal-button-icon" src="../img/delete-white.svg">
          </button>
        </div>
      </div>
    </div>
  </div>
  </body>
<script type="module" src="../backend/main/index.js"></script>
</html>