<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button id="bt-open-add-modal">NEW DEVICE</button>
  <div id="devices-list">

  </div>

  <div id="modal-add-device">
    <input type="text" id="new-device-tag">
    <button id="bt-confirm-add-device">SAVE DEVICE</button>
    <button id="bt-cancel-add-device">CANCEL</button>
  </div>
</body>
<script type="module" src="../backend/main/index.js"></script>
</html>